#guess{
    visibility: hidden;
}
#toaster-container{
    height: 100px;
}
#submitGame{
    display: block;
    width: 100%;
}
@media only screen and (max-width: 601px) {
    #submitGame{
        height: 54px;
        line-height: 56px;
    }
}